<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<div class="card mb-0">
    <div class="card-header">
        <h3 class="card-title">添加标签</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <div class="card-body">
        <form>

            <div class="form-group">
                <label for="tag">标签名称</label>
                <input type="text" class="form-control" name="tag_name" id="tag" placeholder="标签名称">
            </div>
            <div class="form-group">
                <button type="button" id="createTag" class="btn btn-primary">保存</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#createTag").click(() => {
            const tagName = $("input[name='tag_name']").val()
            const _csrf = "[[${_csrf.getToken()}]]"
            request("/admin/tag/create", "post", {tag_name: tagName, _csrf: _csrf})
        })
    })
</script>
</html>
