<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<div class="card mb-0">
    <div class="card-header">
        <h3 class="card-title">修改标签</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <div class="card-body">
        <form action="">

            <div class="form-group">
                <label for="tag">标签名称</label>
                <input type="text" class="form-control" name="tag" id="tag" placeholder="标签名称">
            </div>
            <input type="hidden" name="id">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">保存</button>
            </div>
        </form>
    </div>
</div>
</html>
