<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layout/head::common_head(~{::title},~{::link})">
    <title>My Blog Admin | 首页</title>
    <link rel="stylesheet" th:href="@{/static/admin/plugins/kkpager/css/kkpager_orange.css}">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <!-- Navbar -->
    <nav th:replace="admin/layout/navbar::navbar"></nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside th:replace="admin/layout/sidebar::sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="card card-outline card-primary">
                <div class="card-header">
                    <button id="addTag" class="btn btn-primary btn-sm">添加标签</button>
                </div>
                <!-- ./card-header -->
                <div class="card-body">
                    <table class="table table-bordered table-hover text-center">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>标签名称</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="tag : ${paginate.list}">
                            <td th:text="${tag.id}"></td>
                            <td th:text="${tag.tagName}"></td>
                            <td th:text="${#temporals.format(tag.createTime,'yyyy-MM-DD HH:mm:ss')}"></td>
                            <td>
                                <button th:data-id="${tag.id}" type="button" class="btn btn-success btn-xs edit-tag">
                                    <i class="fa fa-edit"></i>
                                    编辑
                                </button>
                                <button th:data-id="${tag.id}" type="button" class="btn btn-danger btn-xs del-tag">
                                    <i class="fa fa-trash"></i>
                                    删除
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <div id="kkpager"></div>
                </div>
            </div>
            <!-- ./col -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer th:replace="admin/layout/footer::footer"></footer>

    <!-- Control Sidebar -->

    <!-- /.control-sidebar -->
</div>
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
<!-- ./wrapper -->
<th:block th:replace="/admin/layout/script::common_script"/>
<script th:src="@{/static/admin/plugins/kkpager/js/kkpager.min.js}"></script>
<script type="text/javascript">
    $(function () {
        const totalPage = "[[${paginate.totalPage}]]";
        const totalRecords = "[[${paginate.total}]]";
        const pageNum = "[[${paginate.pageNum}]]";
        //生成分页
        //有些参数是可选的，比如lang，若不传有默认值
        kkpager.generPageHtml({
            pno: pageNum,
            //总页码
            total: totalPage,
            //总数据条数
            totalRecords: totalRecords,
            mode: 'click',//默认值是link，可选link或者click
            click: function (n) {
                this.selectPage(n);
                window.location.href = "/admin/tag/list?page=" + n
                return false;
            }
        });

        $("#addTag").click(() => {
            $(".modal-content").load("/admin/tag/add", function () {
                $(".modal").modal("show")
            })
        })

        $(".edit-tag").click(function () {
            const tagId = $(this).data("id")
            $(".modal-content").load("/admin/tag/edit/" + tagId, function () {
                $(".modal").modal("show")
            })
        })
        $(".del-tag").click(function () {
            Swal.fire({
                text: "是否要删除此数据?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '是',
                cancelButtonText: '否'
            }).then((result) => {
                if (result.isConfirmed) {
                    const _csrf = "[[${_csrf.getToken()}]]"
                    const id = $(this).data("id")
                    $.ajax({
                        url: "/admin/tag/delete",
                        method: "post",
                        data: {tag_id: id, _csrf: _csrf},
                        success: (res) => {
                            if (res.code === 200) {
                                Swal.fire({
                                    text: res.message,
                                    icon: "success",
                                    showCancelButton: false,
                                    showCloseButton: false,
                                    showConfirmButton: false,
                                    timer: 800
                                }).then(() => {
                                    window.location.reload()
                                })
                            } else {
                                Swal.fire({
                                    text: res.message,
                                    icon: "error",
                                    showCancelButton: false,
                                    showCloseButton: false,
                                    showConfirmButton: false,
                                    timer: 800
                                }).then(() => {
                                    window.location.reload()
                                })
                            }
                        },
                        error: (res) => {
                            Swal.fire({
                                text: res.message,
                                icon: "error",
                                showCancelButton: false,
                                showCloseButton: false,
                                showConfirmButton: false,
                                timer: 800
                            }).then(() => {
                                window.location.reload()
                            })
                        }
                    })
                }
            })
        })
    });
</script>
</body>
</html>
