<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="aside">
    <div class="toggle sidebar-toggle" role="button">
        <span class="toggle-line"></span>
        <span class="toggle-line"></span>
        <span class="toggle-line"></span>
    </div>
    <aside class="sidebar">
        <div class="sidebar-inner sidebar-overview-active">
            <ul class="sidebar-nav">
                <li class="sidebar-nav-toc">
                    文章目录
                </li>
                <li class="sidebar-nav-overview">
                    站点概览
                </li>
            </ul>
            <div class="sidebar-panel-container">
                <!--noindex-->
                <div class="post-toc-wrap sidebar-panel">
                </div>
                <!--/noindex-->
                <div class="site-overview-wrap sidebar-panel">
                    <div class="site-author site-overview-item animated" itemprop="author" itemscope
                         itemtype="http://schema.org/Person">
                        <p class="site-author-name" itemprop="name">John Doe</p>
                        <div class="site-description" itemprop="description"></div>
                    </div>
                    <div class="site-state-wrap site-overview-item animated">
                        <nav class="site-state">
                            <div class="site-state-item site-state-posts">
                                <a href="/archives/">
                                    <span class="site-state-item-count">11</span>
                                    <span class="site-state-item-name">日志</span>
                                </a>
                            </div>
                            <div class="site-state-item site-state-categories">
                                <a href="/categories/">
                                    <span class="site-state-item-count">2</span>
                                    <span class="site-state-item-name">分类</span></a>
                            </div>
                            <div class="site-state-item site-state-tags">
                                <a href="/tags/">
                                    <span class="site-state-item-count">3</span>
                                    <span class="site-state-item-name">标签</span></a>
                            </div>
                        </nav>
                    </div>
                    <div class="links-of-author site-overview-item animated">
                            <span class="links-of-author-item">
                                <a href="https://github.com/yourname" title="GitHub → https:&#x2F;&#x2F;github.com&#x2F;yourname" rel="noopener"
                                   target="_blank">
                                    <i class="fab fa-github fa-fw"></i>GitHub
                                </a>
                            </span>
                        <span class="links-of-author-item">
                                <a href="mailto:yourname@gmail.com" title="E-Mail → mailto:yourname@gmail.com" rel="noopener" target="_blank">
                                    <i class="fa fa-envelope fa-fw"></i>E-Mail
                                </a>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <div class="sidebar-dimmer"></div>
</th:block>
</html>