<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="common_script">
    <script th:src="@{/static/blog/plugins/anime/anime.min.js}"></script>
    <script th:src="@{/static/blog/plugins/pjax/pjax.min.js}"></script>
    <script th:src="@{/static/blog/plugins/jquery/jquery.min.js}"></script>
    <script th:src="@{/static/blog/plugins/fancybox/jquery.fancybox.min.js}"></script>
    <script th:src="@{/static/blog/plugins/lozad/lozad.min.js}"></script>
    <script th:src="@{/static/blog/js/comments.js}"></script>
    <script th:src="@{/static/blog/js/utils.js}"></script>
    <script th:src="@{/static/blog/js/motion.js}"></script>
    <script th:src="@{/static/blog/js/schemes/muse.js}"></script>
    <script th:src="@{/static/blog/js/next-boot.js}"></script>
    <script th:src="@{/static/blog/js/pjax.js}"></script>
    <script th:src="@{/static/blog/js/third-party/fancybox.js}"></script>
</th:block>
</html>